/* font-family: 'Quicksand', sans-serif;
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000; */

.hidden {
  display: none!important;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

* {
  align-items: center;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  justify-content: center;
}

body {
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf) fixed;
  display: flex;
}

h1 {
  color: #ffffff;
  font-size: 4vw;
  margin: 2%;
  text-align: center;
}

h2 {
  color: #ffffff;
  font-size: 3vw;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

#top-half {
  height: 70%;
  width: 60%;
}

#top-box {
  align-items: stretch;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  padding: 5%;
}

#radio-buttons {
  display: block;
  text-align: center;
  width: 100%;
}

#affirmation-label {
  font-size: 2.5vw;
  font-style: italic;
  margin-right: 20%;
  position: relative;
}

#mantra-label {
  font-size: 2.5vw;
  font-style: italic;
  margin: 0%;
  position: relative;
}

#user-affirmation-label {
  font-size: 2vw;
  font-style: italic;
  margin-right: 20%;
  position: relative;
}

#user-mantra-label {
  font-size: 2vw;
  font-style: italic;
  margin: 0%;
  position: relative;
}

#affirmation-label:hover,
#mantra-label:hover,
#user-affirmation-label:hover,
#user-mantra-label:hover {
  font-style: normal;
}

#get-message-button,
#take-me-back {
  align-self: center;
}

#cancel-form,
#get-message,
#open-form,
#reset-button,
#submit-form,
#take-me-back {
  background: #134d71;
  border: solid 2px #134d71;
  border-radius: 5px;
  color: #ffffff;
  font-size: 2vw;
  margin-bottom: 5%;
  margin-top: 5%;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
}

#cancel-form:focus,
#get-message:focus,
#open-form:focus,
#reset-button:focus,
#submit-form:focus,
#take-me-back:focus,
#user-message-input:focus {
  outline: none;
}

#cancel-form:hover,
#get-message:hover,
#open-form:hover,
#reset-button:hover,
#submit-form:hover,
#take-me-back:hover {
  background: #f7e4bf;
  border: solid 2px #78a7c6;
  color: #000000;
}

#bottom-half {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
  min-height: 100px;
  padding: .1%;
  width: 70%;
}

#bottom-box {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  max-height: 200px;
  width: 70%;
}

.message-text {
  background: #ffffff;
  font-size: 2vw;
  max-height: 100px;
  text-align:center;
  vertical-align: middle;
  width: 70%;
}

.clear-message-text {
  background: #ffffff;
  font-size: 2vw;
  max-height: 100px;
  text-align:center;
  vertical-align: middle;
  width: 70%;
}

#clear-message {
  display: flex;
  flex-direction: row;
}

#medIcon {
  border-radius: 10px;
  display: block;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  max-width: 15%;
}

.unfavorited {
  color: blue;
}

.turn-red {
  color: red!important;
}

#pop-up {
  display: flex;
  justify-content: center;
}

#user-message-form {
  display: flex;
  justify-content: center;
}

.form-container {
  align-items: center;
  background: white;
  border-radius: 10px;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-top: 5%;
  width: 150%;
}

#user-input-radio-buttons {
  display: block;
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;
  width: 100%;
}

#user-message-input {
  margin-top: 3%;
  padding: 2%;
  width: 75%;
}

#user-form-buttons {
  margin-bottom: 10%;
}

/* mobile screen */
@media only screen and (max-width: 900px) {
  h1 {
    font-size: 6vw;
    margin-top: 10%;
  }
  h2{
    font-size: 4vw;
  }
  #affirmation-label {
    font-size: 3.5vw;
    margin-right: 10%;
  }
  #mantra-label {
    font-size: 3.5vw;
  }
  #get-message{
    font-size: 3vw;
  }
  .message-text{
    font-size: 4vw;
  }
  #reset-button {
    font-size: 3vw;
  }
  #bottom-half {
    margin-top: 10%;
  }
  #message-choice-box{
    margin-top: 5%;
  }
  #top-half{
    margin-top: 5%;
  }
}

/* tablet screen */
@media only screen and (min-width: 900px) {
  h1 {
    font-size: 6vw;
    margin-top: 10%;
  }
  h2{
    font-size: 4vw;
  }
  #affirmation-label {
    font-size: 3.5vw;
    margin-right: 10%;
  }
  #mantra-label {
    font-size: 3.5vw;
  }
  #get-message{
    font-size: 3vw;
  }
  .message-text{
    font-size: 4vw;
  }
  #reset-button {
    font-size: 3vw;
    margin: 5%;
  }
  #bottom-half {
    margin-top: 3%;
  }
  #message-choice-box{
    margin-top: 10%;
  }
  #top-half{
    margin-top: 1%;
  }
  #affirmation-button{
    height: 15px;
    width: 15px;
  }
  #mantra-button{
    height: 15px;
    width: 15px;
  }
}

/* desktop screen */
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 6vw;
    margin-bottom: 0%
    margin-top: 5%;
  }
  h2{
    font-size: 4vw;
  }
  #affirmation-label {
    font-size: 3.5vw;
    margin-right: 10%;
  }
  #mantra-label {
    font-size: 3.5vw;
  }
  #get-message{
    font-size: 3vw;
  }
  .message-text{
    font-size: 4vw;
  }
  #reset-button {
    font-size: 3vw;
    margin: 5%;
  }
  #bottom-half {
    margin-top: 5%;
  }
  #message-choice-box{
    margin-top: 0;
  }
  #top-half{
    margin-top: 0;
  }
  #affirmation-button{
    height: 20px;
    width: 20px;
  }
  #mantra-button{
    height: 20px;
    width: 20px;
  }
}

/* very large screen */
@media only screen and (min-width: 1500px) {
    h1 {
      font-size: 6vw;
      margin-bottom: 0%
      margin-top: 0%;
    }
    h2{
      font-size: 4vw;
    }
    #affirmation-label {
      font-size: 3.5vw;
      margin-right: 10%;
    }
    #mantra-label {
      font-size: 3.5vw;
    }
    #get-message{
      font-size: 3vw;
    }
    .message-text{
      font-size: 4vw;
    }
    #reset-button {
      font-size: 3vw;
      margin: 5%;
    }
    #bottom-half {
      margin-top: 5%;
    }
    #message-choice-box{
      margin-top: 0;
    }
    #top-half{
      margin-top: 0;
    }
    #affirmation-button{
      height: 20px;
      width: 20px;
    }
    #mantra-button{
      height: 20px;
      width: 20px;
    }
  }
